<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
        integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
        integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
    <script src="https://unpkg.com/htmx.org@1.8.4"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.7"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='pico.css')}}">
    <style>
        .map {
            width: 100vw;
            height: 40vh;
        }
    </style>
</head>

<body>
    <div id="map" class="map" data-center="39.73, 39.99" data-zoom="5">
        <div data-tile="EsriWorldImagery" data-max-zoom="19" data-min-zoom="5" data-default></div>
        <div data-tile="OpenStreetMap"></div>
    </div>
    {% block body %}
    {% endblock %}

    <script defer src="{{ url_for('static', filename='hyperleaflet.umd.js')}}"></script>
</body>

</html>