{% macro point_row(point) %}
    <tr data-id={{point.id}} data-geometry="[{{point.x}},{{point.y}}]" data-geometry-type="Point" data-popup='<h1>{{point.name}}<h1>'>
        <td>{{point.x}}</td>
        <td>{{point.y}}</td>
        <td>{{point.name}}</td>
        <td><button role='button' hx-delete='point/{{point.id}}'>Delete</button></td>
    </tr>
{% endmacro %}
