{% extends 'layout.html' %}

{%from 'macros.jinja' import point_row%}

{% block body %}
<div class="pico-container">
  <table hx-target="closest tr" hx-ext="leaflet" hx-swap="outerHTML">
    {% for point in points %}
    {{point_row(point)}}
    {% endfor %}
    <tr id="replaceMe">
      <td colspan="5">
        <button class='btn' hx-get="/point?page=2" hx-target="#replaceMe" hx-swap="outerHTML">
          Load More Points...
        </button>
      </td>
    </tr>
  </table>
  {% endblock %}
</div>