{% extends 'layout.html' %}

{%from 'macros.jinja' import point_row%}

{% block body %}
<script type="text/hyperscript">

  on pointclick(rowId, point) from window
    toggle .highlight on <[data-id="$rowId"]/>
    remove .highlight from <[data-id]:not([data-id="$rowId"])/>
  then log point

</script>

<div class="pico-container">
  <table  hyperleaflet hx-target="closest tr" hx-swap="outerHTML">
    <caption>Locations</caption>
    <thead>
      <tr>
        <th>Name</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr data-id=0 data-geometry='          [[
    [
      35.37998406708573,
      39.98326056217266
    ],
    [
      34.71503927826882,
      39.26345697389897
    ],
    [
      36.242615144471074,
      38.900752074309366
    ],
    [
      36.979445856404084,
      40.01079566583766
    ],
    [
      35.79332812499942,
      40.57281577431712
    ],
    [
      35.37998406708573,
      39.98326056217266
    ]
  ]]' data-geometry-type="Polygon">
        <td>test</td>
        <td>test</td>
        <td>testtttttt</td>
      </tr>
      {% for point in points %}
      {{point_row(point)}}
      {% endfor %}
      <tr id="replaceMe">
        <td colspan="5">
          <button class='btn' hx-get="/point?page=2" hx-target="#replaceMe" hx-swap="outerHTML">
            Load More Points...
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="grid">

    <input type="text" _="on mapclick(point) from window set value of me to point.lat as Fixed:4">
    <input type="text" _="on mapclick(point) from window set value of me to point.lng as Fixed:4">

  </div>
  <div class="grid">
    <input type="text" _="on mapmove(center) from window set value of me to center.lat as Fixed:4">
    <input type="text" _="on mapmove(center) from window set value of me to center.lng as Fixed:4">
  </div>

  <div class="grid">
    <input type="text" _="on mapzoom(zoom) from window set value of me to zoom">
  </div>
  <button _="on click log globalVarX ">Click</button>

</div>
  {% endblock %}